/* src/app/globals.css */

@font-face {
  font-family: "Cy Grotesk Wide";
  src: url("/fonts/cy-grotesk-wide.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Custom Fonts - Canela */
@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-LightItalic-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-RegularItalic-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/canela/Canela-BoldItalic-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Optional gradient overlay class */
.film-gradient {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.9) 0%, rgba(32, 32, 32, 0.8) 100%);
}

.letter-space {
  letter-spacing: 0.4em;
}

.letter-space-2 {
  letter-spacing: 0.2em;
}
